In [289]:
import pandas as pd

In [290]:
pontuacao = pd.read_csv('dados_pilotos_pontuacao/temporada_2005.csv')
pontuacao.head()

,Pilotos,Pilotos.1,1AUS,2MYS,3BHR,4SMR,5ESP,6MCO,7EUR,8CAN,...,11GBR,12DEU,13HUN,14TUR,15ITA,16BEL,17BRA,18JPN,19CHN,Pts
0,Pilotos,Pilotos,1AUS,2MYS,3BHR,4SMR,5ESP,6MCO,7EUR,8CAN,...,11GBR,12DEU,13HUN,14TUR,15ITA,16BEL,17BRA,18JPN,19CHN,Pts
1,1.,F. ALONSO,6,10,10,10,8,5,10,-,...,8,10,-,8,8,8,6,6,10,133.00
2,2.,K. RAIKKONEN,1,-,6,-,10,10,-,10,...,6,-,10,10,5,10,8,10,8,112.00
3,3.,M. SCHUMACHER,-,2,-,8,-,2,4,8,...,3,4,8,-,-,-,5,2,-,62.00
4,4.,J. MONTOYA,3,5,NaN,NaN,2,4,2,-,...,10,8,-,6,10,-,10,-,-,60.00

In [291]:
pontuacao.columns = ['Pos.', 'Driver', 'AUS', 'MAL', 'BHR', 'SMR', 'ESP', 'MON', 'EUR',
       'CAN', 'USAâ€¡', 'FRA', 'GBR', 'GER', 'HUN', 'TUR', 'ITA', 'BEL', 'BRA',
       'JPN', 'CHN', 'Points']
pontuacao.head()

,Pos.,Driver,AUS,MAL,BHR,SMR,ESP,MON,EUR,CAN,...,GBR,GER,HUN,TUR,ITA,BEL,BRA,JPN,CHN,Points
0,Pilotos,Pilotos,1AUS,2MYS,3BHR,4SMR,5ESP,6MCO,7EUR,8CAN,...,11GBR,12DEU,13HUN,14TUR,15ITA,16BEL,17BRA,18JPN,19CHN,Pts
1,1.,F. ALONSO,6,10,10,10,8,5,10,-,...,8,10,-,8,8,8,6,6,10,133.00
2,2.,K. RAIKKONEN,1,-,6,-,10,10,-,10,...,6,-,10,10,5,10,8,10,8,112.00
3,3.,M. SCHUMACHER,-,2,-,8,-,2,4,8,...,3,4,8,-,-,-,5,2,-,62.00
4,4.,J. MONTOYA,3,5,NaN,NaN,2,4,2,-,...,10,8,-,6,10,-,10,-,-,60.00

In [292]:
pontuacao = pontuacao.drop(pontuacao.index[0])
pontuacao.head()

,Pos.,Driver,AUS,MAL,BHR,SMR,ESP,MON,EUR,CAN,...,GBR,GER,HUN,TUR,ITA,BEL,BRA,JPN,CHN,Points
1,1.,F. ALONSO,6,10,10,10,8,5,10,-,...,8,10,-,8,8,8,6,6,10,133.00
2,2.,K. RAIKKONEN,1,-,6,-,10,10,-,10,...,6,-,10,10,5,10,8,10,8,112.00
3,3.,M. SCHUMACHER,-,2,-,8,-,2,4,8,...,3,4,8,-,-,-,5,2,-,62.00
4,4.,J. MONTOYA,3,5,NaN,NaN,2,4,2,-,...,10,8,-,6,10,-,10,-,-,60.00
5,5.,G. FISICHELLA,10,-,-,-,4,-,3,-,...,5,5,-,5,6,-,4,8,5,58.00

In [293]:
pontuacao.drop(['Pos.'], axis=1, inplace=True)

In [294]:
pontuacao = pontuacao.set_index('Driver')
pontuacao = pontuacao.T
pontuacao.head()

Driver,F. ALONSO,K. RAIKKONEN,M. SCHUMACHER,J. MONTOYA,G. FISICHELLA,R. SCHUMACHER,J. TRULLI,R. BARRICHELLO,J. BUTTON,M. WEBBER,...,T. MONTEIRO,A. WURZ,N. KARTHIKEYAN,C. ALBERS,P. de la ROSA,P. FRIESACHER,A. PIZZONIA,T. SATO,V. LIUZZI,R. DOORNBOS
AUS,6,1,-,3,10,-,-,8,-,4,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
MAL,10,-,2,5,-,4,8,-,-,-,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
BHR,10,6,-,NaN,-,5,8,-,-,3,...,-,NaN,-,-,4,-,NaN,-,NaN,NaN
SMR,10,-,8,NaN,-,-,4,-,-,2,...,-,6,-,-,NaN,-,NaN,-,1,NaN
ESP,8,10,-,2,4,5,6,-,-,3,...,-,NaN,-,-,NaN,-,NaN,-,-,NaN

In [295]:
pontuacao.shape[0]

20

In [296]:
pontuacao.drop(pontuacao.index[[19]])

Driver,F. ALONSO,K. RAIKKONEN,M. SCHUMACHER,J. MONTOYA,G. FISICHELLA,R. SCHUMACHER,J. TRULLI,R. BARRICHELLO,J. BUTTON,M. WEBBER,...,T. MONTEIRO,A. WURZ,N. KARTHIKEYAN,C. ALBERS,P. de la ROSA,P. FRIESACHER,A. PIZZONIA,T. SATO,V. LIUZZI,R. DOORNBOS
AUS,6,1,-,3,10,-,-,8,-,4,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
MAL,10,-,2,5,-,4,8,-,-,-,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
BHR,10,6,-,NaN,-,5,8,-,-,3,...,-,NaN,-,-,4,-,NaN,-,NaN,NaN
SMR,10,-,8,NaN,-,-,4,-,-,2,...,-,6,-,-,NaN,-,NaN,-,1,NaN
ESP,8,10,-,2,4,5,6,-,-,3,...,-,NaN,-,-,NaN,-,NaN,-,-,NaN
MON,5,10,2,4,-,3,-,1,-,6,...,-,NaN,-,-,NaN,-,NaN,-,-,NaN
EUR,10,-,4,2,3,-,1,6,-,-,...,-,NaN,-,-,NaN,-,NaN,-,-,NaN
CAN,-,10,8,-,-,3,-,6,-,4,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
USAâ€¡,-,-,10,-,-,-,-,8,-,-,...,6,NaN,5,4,NaN,3,NaN,-,NaN,NaN
FRA,10,8,6,-,3,2,4,-,5,-,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
GBR,8,6,3,10,5,1,-,2,4,-,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
GER,10,-,4,8,5,3,-,-,6,-,...,-,NaN,-,-,NaN,NaN,NaN,-,NaN,-
HUN,-,10,8,-,-,6,5,-,4,2,...,-,NaN,-,-,NaN,NaN,NaN,1,NaN,-
TUR,8,10,-,6,5,-,3,-,4,-,...,-,NaN,-,-,NaN,NaN,NaN,-,NaN,-
ITA,8,5,-,10,6,3,4,-,1,-,...,-,NaN,-,-,NaN,NaN,2,-,NaN,-
BEL,8,10,-,-,-,2,-,4,6,5,...,1,NaN,-,-,NaN,NaN,-,-,NaN,-
BRA,6,8,5,10,4,1,-,3,2,-,...,-,NaN,-,-,NaN,NaN,-,-,NaN,-
JPN,6,10,2,-,8,1,-,-,4,5,...,-,NaN,-,-,NaN,NaN,-,-,NaN,-
CHN,10,8,-,-,5,6,-,-,1,2,...,-,NaN,-,-,NaN,NaN,-,-,NaN,-

In [353]:
resultado.columns

Index(['Fernando Alonso', 'Kimi RÃ¤ikkÃ¶nen', 'Michael Schumacher',
       'Juan Pablo Montoya', 'Giancarlo Fisichella', 'Ralf Schumacher',
       'Jarno Trulli', 'Rubens Barrichello', 'Jenson Button', 'Mark Webber',
       'Nick Heidfeld', 'David Coulthard', 'Felipe Massa',
       'Jacques Villeneuve', 'Christian Klien', 'Tiago Monteiro',
       'Alexander Wurz', 'Narain Karthikeyan', 'Christijan Albers',
       'Pedro de la Rosa', 'Patrick Friesacher', 'AntÃ´nio Pizzonia',
       'Takuma Sato', 'Vitantonio Liuzzi', 'Robert Doornbos',
       'Anthony Davidson', 'Ricardo Zonta'],
      dtype='object', name='Driver')

In [356]:
pontuacao.columns = ['Fernando Alonso', 'Kimi RÃ¤ikkÃ¶nen', 'Michael Schumacher',
       'Juan Pablo Montoya', 'Giancarlo Fisichella', 'Ralf Schumacher',
       'Jarno Trulli', 'Rubens Barrichello', 'Jenson Button', 'Mark Webber',
       'Nick Heidfeld', 'David Coulthard', 'Felipe Massa',
       'Jacques Villeneuve', 'Christian Klien', 'Tiago Monteiro',
       'Alexander Wurz', 'Narain Karthikeyan', 'Christijan Albers',
       'Pedro de la Rosa', 'Patrick Friesacher', 'AntÃ´nio Pizzonia',
       'Takuma Sato', 'Vitantonio Liuzzi', 'Robert Doornbos']

In [297]:
resultado = pd.read_csv('dados_pilotos_resultados/resultado_pilotos_temporada_2005.csv')
resultado.head()

,Pos.,Driver,AUS,MAL,BHR,SMR,ESP,MON,EUR,CAN,...,GBR,GER,HUN,TUR,ITA,BEL,BRA,JPN,CHN,Points
0,1,Fernando Alonso,3F,1P,1P,1,2,4,1F,Ret,...,2P,1,11,2,2,2,3P,3,1P,133
1,2,Kimi RÃ¤ikkÃ¶nen,8,9F,3,RetP,1P,1P,11â€,1F,...,3F,RetPF,1F,1P,4F,1,2F,1F,2F,112
2,3,Michael Schumacher,Ret,7,Ret,2F,Ret,7F,5,2,...,6,5,2P,Ret,10,Ret,4,7,Ret,62
3,4,Juan Pablo Montoya,6,4,NaN,NaN,7,5,7,DSQ,...,1,2,Ret,3F,1P,14Pâ€,1,Ret,Ret,60
4,5,Giancarlo Fisichella,1P,Ret,Ret,Ret,5F,12,6,Ret,...,4,4,9,4,3,Ret,5,2,4,58

In [298]:
resultado.columns

Index(['Pos.', 'Driver', 'AUS', 'MAL', 'BHR', 'SMR', 'ESP', 'MON', 'EUR',
       'CAN', 'USAâ€¡', 'FRA', 'GBR', 'GER', 'HUN', 'TUR', 'ITA', 'BEL', 'BRA',
       'JPN', 'CHN', 'Points'],
      dtype='object')

In [299]:
resultado.drop(["Pos."], axis=1, inplace=True)

In [300]:
resultado = resultado.set_index('Driver')
resultado = resultado.T
resultado.head()

Driver,Fernando Alonso,Kimi RÃ¤ikkÃ¶nen,Michael Schumacher,Juan Pablo Montoya,Giancarlo Fisichella,Ralf Schumacher,Jarno Trulli,Rubens Barrichello,Jenson Button,Mark Webber,...,Pedro de la Rosa,Patrick Friesacher,AntÃ´nio Pizzonia,Takuma Sato,Vitantonio Liuzzi,Robert Doornbos,Anthony Davidson,Ricardo Zonta,Driver,Source:[13][14]
AUS,3F,8,Ret,6,1P,12,9,2,11â€,5,...,NaN,17,NaN,14â€,NaN,NaN,NaN,NaN,AUS,Source:[13][14]
MAL,1P,9F,7,4,Ret,5,2,Ret,Ret,Ret,...,NaN,Ret,NaN,WD,NaN,NaN,Ret,NaN,MAL,Source:[13][14]
BHR,1P,3,Ret,NaN,Ret,4,2,9,Ret,6,...,5F,12,NaN,Ret,NaN,NaN,NaN,NaN,BHR,Source:[13][14]
SMR,1,RetP,2F,NaN,Ret,9,5,Ret,DSQ,7,...,NaN,Ret,NaN,DSQ,8,NaN,NaN,NaN,SMR,Source:[13][14]
ESP,2,1P,Ret,7,5F,4,3,9,NaN,6,...,NaN,Ret,NaN,NaN,Ret,NaN,NaN,NaN,ESP,Source:[13][14]

In [301]:
resultado.drop(['Driver','Source:[13][14]'], axis=1, inplace=True)

In [302]:
resultado['Fernando Alonso'].unique()

array(['3F', '1P', '1', '2', '4', '1F', 'Ret', 'DNS', '2P', '11', '3P',
       '3', '133'], dtype=object)

In [303]:
resultado.drop(resultado.index[19], inplace=True)

In [304]:
resultado.head()

Driver,Fernando Alonso,Kimi RÃ¤ikkÃ¶nen,Michael Schumacher,Juan Pablo Montoya,Giancarlo Fisichella,Ralf Schumacher,Jarno Trulli,Rubens Barrichello,Jenson Button,Mark Webber,...,Narain Karthikeyan,Christijan Albers,Pedro de la Rosa,Patrick Friesacher,AntÃ´nio Pizzonia,Takuma Sato,Vitantonio Liuzzi,Robert Doornbos,Anthony Davidson,Ricardo Zonta
AUS,3F,8,Ret,6,1P,12,9,2,11â€,5,...,15,Ret,NaN,17,NaN,14â€,NaN,NaN,NaN,NaN
MAL,1P,9F,7,4,Ret,5,2,Ret,Ret,Ret,...,11,13,NaN,Ret,NaN,WD,NaN,NaN,Ret,NaN
BHR,1P,3,Ret,NaN,Ret,4,2,9,Ret,6,...,Ret,13,5F,12,NaN,Ret,NaN,NaN,NaN,NaN
SMR,1,RetP,2F,NaN,Ret,9,5,Ret,DSQ,7,...,12,Ret,NaN,Ret,NaN,DSQ,8,NaN,NaN,NaN
ESP,2,1P,Ret,7,5F,4,3,9,NaN,6,...,13,Ret,NaN,Ret,NaN,NaN,Ret,NaN,NaN,NaN

In [305]:
renomear = {'3F':'3', 
            '1P':'1',
            '1F':'1',
            '3P':'3',
            '9F':'9',
            'RetP':'Ret',
            '11â€ ':'11',
            '2F':'2',
            '4F':'4',
            'RetPF':'Ret',
            '7F':'7',
            '2P':'2',
            '14Pâ€ ':'14',
            '5F':'5',
            '7F':'7',
            '8P':'8',
            '13â€ ':'13',
            '16â€ ':'16',
            '14â€ ':'14',
            '15â€ ':'15'}

In [306]:
resultado = resultado.replace(renomear)

In [307]:
frequencia_alonso = resultado['Fernando Alonso'].value_counts()
frequencia_alonso

1      7
2      5
3      3
4      1
Ret    1
DNS    1
11     1
Name: Fernando Alonso, dtype: int64

In [308]:
percentual_alonso = resultado['Fernando Alonso'].value_counts(normalize=True) * 100
percentual_alonso

1      36.842105
2      26.315789
3      15.789474
4       5.263158
Ret     5.263158
DNS     5.263158
11      5.263158
Name: Fernando Alonso, dtype: float64

In [309]:
dist_alonso = pd.DataFrame({'Frequencia': frequencia_alonso, 'Porcentagem (%)': percentual_alonso})
dist_alonso.rename_axis('PosiÃ§Ã£o', axis='columns', inplace=True)

In [310]:
dist_alonso

PosiÃ§Ã£o  Frequencia  Porcentagem (%)
1                 7        36.842105
2                 5        26.315789
3                 3        15.789474
4                 1         5.263158
Ret               1         5.263158
DNS               1         5.263158
11                1         5.263158

In [311]:
frequencia_kimi = resultado['Kimi RÃ¤ikkÃ¶nen'].value_counts()
frequencia_kimi

1      7
2      3
3      2
Ret    2
8      1
9      1
11     1
DNS    1
4      1
Name: Kimi RÃ¤ikkÃ¶nen, dtype: int64

In [312]:
percentual_kimi = resultado['Kimi RÃ¤ikkÃ¶nen'].value_counts(normalize=True) * 100
percentual_kimi

1      36.842105
2      15.789474
3      10.526316
Ret    10.526316
8       5.263158
9       5.263158
11      5.263158
DNS     5.263158
4       5.263158
Name: Kimi RÃ¤ikkÃ¶nen, dtype: float64

In [313]:
dist_kimi = pd.DataFrame({'Frequencia': frequencia_kimi, 'Porcentagem (%)': percentual_kimi})
dist_kimi.rename_axis('PosiÃ§Ã£o', axis='columns', inplace=True)

In [314]:
dist_kimi

PosiÃ§Ã£o  Frequencia  Porcentagem (%)
1                 7        36.842105
2                 3        15.789474
3                 2        10.526316
Ret               2        10.526316
8                 1         5.263158
9                 1         5.263158
11                1         5.263158
DNS               1         5.263158
4                 1         5.263158

In [315]:
resultado.columns

Index(['Fernando Alonso', 'Kimi RÃ¤ikkÃ¶nen', 'Michael Schumacher',
       'Juan Pablo Montoya', 'Giancarlo Fisichella', 'Ralf Schumacher',
       'Jarno Trulli', 'Rubens Barrichello', 'Jenson Button', 'Mark Webber',
       'Nick Heidfeld', 'David Coulthard', 'Felipe Massa',
       'Jacques Villeneuve', 'Christian Klien', 'Tiago Monteiro',
       'Alexander Wurz', 'Narain Karthikeyan', 'Christijan Albers',
       'Pedro de la Rosa', 'Patrick Friesacher', 'AntÃ´nio Pizzonia',
       'Takuma Sato', 'Vitantonio Liuzzi', 'Robert Doornbos',
       'Anthony Davidson', 'Ricardo Zonta'],
      dtype='object', name='Driver')

In [316]:
for piloto in resultado.columns:
    frequencia = resultado[piloto].value_counts()
    percentual = resultado[piloto].value_counts(normalize=True) * 100
    distribuicao = pd.DataFrame({'Frequencia': frequencia, 'Porcentagem (%)': percentual})
    distribuicao.rename_axis('PosiÃ§Ã£o', axis='columns', inplace=True)
    print(piloto)
    print(distribuicao)

Fernando Alonso
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
1                 7        36.842105
2                 5        26.315789
3                 3        15.789474
4                 1         5.263158
Ret               1         5.263158
DNS               1         5.263158
11                1         5.263158
Kimi RÃ¤ikkÃ¶nen
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
1                 7        36.842105
2                 3        15.789474
3                 2        10.526316
Ret               2        10.526316
8                 1         5.263158
9                 1         5.263158
11                1         5.263158
DNS               1         5.263158
4                 1         5.263158
Michael Schumacher
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               6        31.578947
7                 3        15.789474
2                 3        15.789474
5                 2        10.526316
1                 1         5.263158
3                 1         5.263158
6                 1         5.263158
10                1         5.263158
4                 1         5.263158
Juan Pablo Montoya
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               4        23.529412
1                 3        17.647059
7                 2        11.764706
6                 1         5.882353
4                 1         5.882353
5                 1         5.882353
DSQ               1         5.882353
DNS               1         5.882353
2                 1         5.882353
3                 1         5.882353
14                1         5.882353
Giancarlo Fisichella
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               5        26.315789
4                 4        21.052632
5                 2        10.526316
6                 2        10.526316
1                 1         5.263158
12                1         5.263158
DNS               1         5.263158
9                 1         5.263158
3                 1         5.263158
2                 1         5.263158
Ralf Schumacher
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
6                 4        21.052632
8                 3        15.789474
12                2        10.526316
4                 2        10.526316
7                 2        10.526316
3                 2        10.526316
5                 1         5.263158
9                 1         5.263158
Ret               1         5.263158
WD                1         5.263158
Jarno Trulli
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
5                 3        15.789474
Ret               3        15.789474
9                 2        10.526316
2                 2        10.526316
3                 1         5.263158
10                1         5.263158
8                 1         5.263158
DNSP              1         5.263158
14                1         5.263158
4                 1         5.263158
6                 1         5.263158
13                1         5.263158
15                1         5.263158
Rubens Barrichello
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
9                 3        15.789474
10                3        15.789474
2                 2        10.526316
Ret               2        10.526316
3                 2        10.526316
12                2        10.526316
8                 1         5.263158
7                 1         5.263158
5                 1         5.263158
6                 1         5.263158
11                1         5.263158
Jenson Button
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
5                 4        23.529412
Ret               3        17.647059
3                 2        11.764706
8                 2        11.764706
11                1         5.882353
DSQ               1         5.882353
10                1         5.882353
DNS               1         5.882353
4                 1         5.882353
7                 1         5.882353
Mark Webber
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               3        15.789474
7                 3        15.789474
5                 2        10.526316
6                 2        10.526316
NC                2        10.526316
4                 2        10.526316
3                 1         5.263158
DNS               1         5.263158
12                1         5.263158
11                1         5.263158
14                1         5.263158
Nick Heidfeld
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               4        26.666667
6                 2        13.333333
2                 2        13.333333
3                 1         6.666667
10                1         6.666667
DNS               1         6.666667
14                1         6.666667
12                1         6.666667
11                1         6.666667
WD                1         6.666667
David Coulthard
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               4        21.052632
7                 3        15.789474
4                 2        10.526316
6                 2        10.526316
8                 2        10.526316
11                1         5.263158
DNS               1         5.263158
10                1         5.263158
13                1         5.263158
15                1         5.263158
9                 1         5.263158
Felipe Massa
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
10                6        31.578947
11                2        10.526316
9                 2        10.526316
14                2        10.526316
Ret               2        10.526316
7                 1         5.263158
4                 1         5.263158
DNS               1         5.263158
8                 1         5.263158
6                 1         5.263158
Jacques Villeneuve
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
11                4        21.052632
Ret               3        15.789474
13                2        10.526316
12                2        10.526316
4                 1         5.263158
9                 1         5.263158
DNS               1         5.263158
8                 1         5.263158
14                1         5.263158
15                1         5.263158
6                 1         5.263158
10                1         5.263158
Christian Klien
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
9                 4        26.666667
8                 3        20.000000
DNS               2        13.333333
Ret               2        13.333333
7                 1         6.666667
15                1         6.666667
13                1         6.666667
5                 1         6.666667
Tiago Monteiro
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
13                5        26.315789
17                3        15.789474
12                2        10.526316
10                2        10.526316
15                2        10.526316
16                1         5.263158
3                 1         5.263158
8                 1         5.263158
Ret               1         5.263158
11                1         5.263158
Alexander Wurz
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
3                 1            100.0
Narain Karthikeyan
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               5        26.315789
15                4        21.052632
11                2        10.526316
12                2        10.526316
16                2        10.526316
13                1         5.263158
4                 1         5.263158
14                1         5.263158
20                1         5.263158
Christijan Albers
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               5        26.315789
13                3        15.789474
14                2        10.526316
16                2        10.526316
17                1         5.263158
11                1         5.263158
5                 1         5.263158
18                1         5.263158
NC                1         5.263158
19                1         5.263158
12                1         5.263158
Pedro de la Rosa
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
5                 1            100.0
Patrick Friesacher
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               6        54.545455
17                1         9.090909
12                1         9.090909
18                1         9.090909
6                 1         9.090909
19                1         9.090909
AntÃ´nio Pizzonia
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               2             40.0
7                 1             20.0
15                1             20.0
13                1             20.0
Takuma Sato
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               4        23.529412
DSQ               2        11.764706
12                2        11.764706
16                2        11.764706
14                1         5.882353
WD                1         5.882353
DNS               1         5.882353
11                1         5.882353
8                 1         5.882353
9                 1         5.882353
10                1         5.882353
Vitantonio Liuzzi
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               2             50.0
8                 1             25.0
9                 1             25.0
Robert Doornbos
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
18                2             25.0
Ret               2             25.0
13                2             25.0
14                2             25.0
Anthony Davidson
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
Ret               1            100.0
Ricardo Zonta
PosiÃ§Ã£o  Frequencia  Porcentagem (%)
DNS               1            100.0

In [317]:
renomear = {'Ret': '0', 'DSQ': '0', 'DNS': '0', ' ': '0','WD':'0','DNSP':'0','NC':'0'}

In [318]:
novo_resultado = resultado.replace(renomear)

In [319]:
novo_resultado.head()

Driver,Fernando Alonso,Kimi RÃ¤ikkÃ¶nen,Michael Schumacher,Juan Pablo Montoya,Giancarlo Fisichella,Ralf Schumacher,Jarno Trulli,Rubens Barrichello,Jenson Button,Mark Webber,...,Narain Karthikeyan,Christijan Albers,Pedro de la Rosa,Patrick Friesacher,AntÃ´nio Pizzonia,Takuma Sato,Vitantonio Liuzzi,Robert Doornbos,Anthony Davidson,Ricardo Zonta
AUS,3,8,0,6,1,12,9,2,11,5,...,15,0,NaN,17,NaN,14,NaN,NaN,NaN,NaN
MAL,1,9,7,4,0,5,2,0,0,0,...,11,13,NaN,0,NaN,0,NaN,NaN,0,NaN
BHR,1,3,0,NaN,0,4,2,9,0,6,...,0,13,5,12,NaN,0,NaN,NaN,NaN,NaN
SMR,1,0,2,NaN,0,9,5,0,0,7,...,12,0,NaN,0,NaN,0,8,NaN,NaN,NaN
ESP,2,1,0,7,5,4,3,9,NaN,6,...,13,0,NaN,0,NaN,NaN,0,NaN,NaN,NaN

In [320]:
novo_resultado.fillna('0', inplace=True)

In [321]:
novo_resultado['Pedro de la Rosa'].astype(int, errors='raise')

AUS     0
MAL     0
BHR     5
SMR     0
ESP     0
MON     0
EUR     0
CAN     0
USAâ€¡    0
FRA     0
GBR     0
GER     0
HUN     0
TUR     0
ITA     0
BEL     0
BRA     0
JPN     0
CHN     0
Name: Pedro de la Rosa, dtype: int64

In [322]:
for coluna in novo_resultado.columns:
    print(novo_resultado[coluna].unique())

['3' '1' '2' '4' '0' '11']
['8' '9' '3' '0' '1' '11' '2' '4']
['0' '7' '2' '5' '1' '3' '6' '10' '4']
['6' '4' '0' '7' '5' '1' '2' '3' '14']
['1' '0' '5' '12' '6' '4' '9' '3' '2']
['12' '5' '4' '9' '6' '0' '7' '8' '3']
['9' '2' '5' '3' '10' '8' '0' '14' '4' '6' '13' '15']
['2' '0' '9' '8' '3' '7' '10' '12' '5' '6' '11']
['11' '0' '10' '4' '5' '3' '8' '7']
['5' '0' '6' '7' '3' '12' '11' '14' '4']
['0' '3' '6' '10' '2' '14' '12' '11']
['4' '6' '8' '11' '0' '7' '10' '13' '15' '9']
['10' '7' '11' '9' '14' '4' '0' '8' '6']
['13' '0' '11' '4' '9' '8' '14' '15' '6' '12' '10']
['7' '8' '0' '15' '9' '13' '5']
['16' '12' '10' '13' '15' '3' '17' '8' '0' '11']
['0' '3']
['15' '11' '0' '12' '13' '16' '4' '14' '20']
['0' '13' '14' '17' '11' '5' '18' '19' '12' '16']
['0' '5']
['17' '0' '12' '18' '6' '19']
['0' '7' '15' '13']
['14' '0' '12' '11' '16' '8' '9' '10']
['0' '8' '9']
['0' '18' '13' '14']
['0']
['0']

In [327]:
novo_resultado[['Fernando Alonso', 'Kimi RÃ¤ikkÃ¶nen', 'Michael Schumacher',
       'Juan Pablo Montoya', 'Giancarlo Fisichella', 'Ralf Schumacher',
       'Jarno Trulli', 'Rubens Barrichello', 'Jenson Button', 'Mark Webber',
       'Nick Heidfeld', 'David Coulthard', 'Felipe Massa',
       'Jacques Villeneuve', 'Christian Klien', 'Tiago Monteiro',
       'Alexander Wurz', 'Narain Karthikeyan', 'Christijan Albers',
       'Pedro de la Rosa', 'Patrick Friesacher', 'AntÃ´nio Pizzonia',
       'Takuma Sato', 'Vitantonio Liuzzi', 'Robert Doornbos',
       'Anthony Davidson', 'Ricardo Zonta']].astype(int, errors='raise')

Driver,Fernando Alonso,Kimi RÃ¤ikkÃ¶nen,Michael Schumacher,Juan Pablo Montoya,Giancarlo Fisichella,Ralf Schumacher,Jarno Trulli,Rubens Barrichello,Jenson Button,Mark Webber,...,Narain Karthikeyan,Christijan Albers,Pedro de la Rosa,Patrick Friesacher,AntÃ´nio Pizzonia,Takuma Sato,Vitantonio Liuzzi,Robert Doornbos,Anthony Davidson,Ricardo Zonta
AUS,3,8,0,6,1,12,9,2,11,5,...,15,0,0,17,0,14,0,0,0,0
MAL,1,9,7,4,0,5,2,0,0,0,...,11,13,0,0,0,0,0,0,0,0
BHR,1,3,0,0,0,4,2,9,0,6,...,0,13,5,12,0,0,0,0,0,0
SMR,1,0,2,0,0,9,5,0,0,7,...,12,0,0,0,0,0,8,0,0,0
ESP,2,1,0,7,5,4,3,9,0,6,...,13,0,0,0,0,0,0,0,0,0
MON,4,1,7,5,12,6,10,8,0,3,...,0,14,0,0,0,0,0,0,0,0
EUR,1,11,5,7,6,0,8,3,10,0,...,16,17,0,18,0,12,9,0,0,0
CAN,0,1,2,0,0,6,0,3,0,5,...,0,11,0,0,0,0,0,0,0,0
USAâ€¡,0,0,1,0,0,0,0,2,0,0,...,4,5,0,6,0,0,0,0,0,0
FRA,1,2,3,0,6,7,5,9,4,12,...,15,0,0,0,0,11,0,0,0,0
GBR,2,3,6,1,4,8,9,7,5,11,...,0,18,0,19,0,16,0,0,0,0
GER,1,0,5,2,4,6,14,10,3,0,...,16,13,0,0,0,12,0,18,0,0
HUN,11,1,2,0,9,3,4,10,5,7,...,12,0,0,0,0,8,0,0,0,0
TUR,2,1,0,3,4,12,6,10,5,0,...,14,0,0,0,0,9,0,13,0,0
ITA,2,4,10,1,3,6,5,12,8,14,...,20,19,0,0,7,16,0,18,0,0
BEL,2,1,0,14,0,7,0,5,3,4,...,11,12,0,0,15,0,0,13,0,0
BRA,3,2,4,1,5,8,13,6,7,0,...,15,14,0,0,0,10,0,0,0,0
JPN,3,1,7,0,2,8,0,11,5,4,...,15,16,0,0,0,0,0,14,0,0
CHN,1,2,0,0,4,3,15,12,8,7,...,0,16,0,0,13,0,0,14,0,0

In [328]:
novo_resultado = novo_resultado.astype(int)

In [329]:
novo_resultado

Driver,Fernando Alonso,Kimi RÃ¤ikkÃ¶nen,Michael Schumacher,Juan Pablo Montoya,Giancarlo Fisichella,Ralf Schumacher,Jarno Trulli,Rubens Barrichello,Jenson Button,Mark Webber,...,Narain Karthikeyan,Christijan Albers,Pedro de la Rosa,Patrick Friesacher,AntÃ´nio Pizzonia,Takuma Sato,Vitantonio Liuzzi,Robert Doornbos,Anthony Davidson,Ricardo Zonta
AUS,3,8,0,6,1,12,9,2,11,5,...,15,0,0,17,0,14,0,0,0,0
MAL,1,9,7,4,0,5,2,0,0,0,...,11,13,0,0,0,0,0,0,0,0
BHR,1,3,0,0,0,4,2,9,0,6,...,0,13,5,12,0,0,0,0,0,0
SMR,1,0,2,0,0,9,5,0,0,7,...,12,0,0,0,0,0,8,0,0,0
ESP,2,1,0,7,5,4,3,9,0,6,...,13,0,0,0,0,0,0,0,0,0
MON,4,1,7,5,12,6,10,8,0,3,...,0,14,0,0,0,0,0,0,0,0
EUR,1,11,5,7,6,0,8,3,10,0,...,16,17,0,18,0,12,9,0,0,0
CAN,0,1,2,0,0,6,0,3,0,5,...,0,11,0,0,0,0,0,0,0,0
USAâ€¡,0,0,1,0,0,0,0,2,0,0,...,4,5,0,6,0,0,0,0,0,0
FRA,1,2,3,0,6,7,5,9,4,12,...,15,0,0,0,0,11,0,0,0,0
GBR,2,3,6,1,4,8,9,7,5,11,...,0,18,0,19,0,16,0,0,0,0
GER,1,0,5,2,4,6,14,10,3,0,...,16,13,0,0,0,12,0,18,0,0
HUN,11,1,2,0,9,3,4,10,5,7,...,12,0,0,0,0,8,0,0,0,0
TUR,2,1,0,3,4,12,6,10,5,0,...,14,0,0,0,0,9,0,13,0,0
ITA,2,4,10,1,3,6,5,12,8,14,...,20,19,0,0,7,16,0,18,0,0
BEL,2,1,0,14,0,7,0,5,3,4,...,11,12,0,0,15,0,0,13,0,0
BRA,3,2,4,1,5,8,13,6,7,0,...,15,14,0,0,0,10,0,0,0,0
JPN,3,1,7,0,2,8,0,11,5,4,...,15,16,0,0,0,0,0,14,0,0
CHN,1,2,0,0,4,3,15,12,8,7,...,0,16,0,0,13,0,0,14,0,0

In [342]:
novo_resultado = novo_resultado.replace(valor_pontuacao)

In [343]:
novo_resultado

Driver,Fernando Alonso,Kimi RÃ¤ikkÃ¶nen,Michael Schumacher,Juan Pablo Montoya,Giancarlo Fisichella,Ralf Schumacher,Jarno Trulli,Rubens Barrichello,Jenson Button,Mark Webber,...,Narain Karthikeyan,Christijan Albers,Pedro de la Rosa,Patrick Friesacher,AntÃ´nio Pizzonia,Takuma Sato,Vitantonio Liuzzi,Robert Doornbos,Anthony Davidson,Ricardo Zonta
AUS,6,1,0,3,10,12,9,8,11,4,...,15,0,0,17,0,14,0,0,0,0
MAL,10,9,2,5,0,4,8,0,0,0,...,11,13,0,0,0,0,0,0,0,0
BHR,10,6,0,0,0,5,8,9,0,3,...,0,13,4,12,0,0,0,0,0,0
SMR,10,0,8,0,0,9,4,0,0,2,...,12,0,0,0,0,0,1,0,0,0
ESP,8,10,0,2,4,5,6,9,0,3,...,13,0,0,0,0,0,0,0,0,0
MON,5,10,2,4,12,3,10,1,0,6,...,0,14,0,0,0,0,0,0,0,0
EUR,10,11,4,2,3,0,1,6,10,0,...,16,17,0,18,0,12,9,0,0,0
CAN,0,10,8,0,0,3,0,6,0,4,...,0,11,0,0,0,0,0,0,0,0
USAâ€¡,0,0,10,0,0,0,0,8,0,0,...,5,4,0,3,0,0,0,0,0,0
FRA,10,8,6,0,3,2,4,9,5,12,...,15,0,0,0,0,11,0,0,0,0
GBR,8,6,3,10,5,1,9,2,4,11,...,0,18,0,19,0,16,0,0,0,0
GER,10,0,4,8,5,3,14,10,6,0,...,16,13,0,0,0,12,0,18,0,0
HUN,11,10,8,0,9,6,5,10,4,2,...,12,0,0,0,0,1,0,0,0,0
TUR,8,10,0,6,5,12,3,10,4,0,...,14,0,0,0,0,9,0,13,0,0
ITA,8,5,10,10,6,3,4,12,1,14,...,20,19,0,0,2,16,0,18,0,0
BEL,8,10,0,14,0,2,0,4,6,5,...,11,12,0,0,15,0,0,13,0,0
BRA,6,8,5,10,4,1,13,3,2,0,...,15,14,0,0,0,10,0,0,0,0
JPN,6,10,2,0,8,1,0,11,4,5,...,15,16,0,0,0,0,0,14,0,0
CHN,10,8,0,0,5,6,15,12,1,2,...,0,16,0,0,13,0,0,14,0,0

In [357]:
pontuacao.head(6)

,Fernando Alonso,Kimi RÃ¤ikkÃ¶nen,Michael Schumacher,Juan Pablo Montoya,Giancarlo Fisichella,Ralf Schumacher,Jarno Trulli,Rubens Barrichello,Jenson Button,Mark Webber,...,Tiago Monteiro,Alexander Wurz,Narain Karthikeyan,Christijan Albers,Pedro de la Rosa,Patrick Friesacher,AntÃ´nio Pizzonia,Takuma Sato,Vitantonio Liuzzi,Robert Doornbos
AUS,6,1,-,3,10,-,-,8,-,4,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
MAL,10,-,2,5,-,4,8,-,-,-,...,-,NaN,-,-,NaN,-,NaN,-,NaN,NaN
BHR,10,6,-,NaN,-,5,8,-,-,3,...,-,NaN,-,-,4,-,NaN,-,NaN,NaN
SMR,10,-,8,NaN,-,-,4,-,-,2,...,-,6,-,-,NaN,-,NaN,-,1,NaN
ESP,8,10,-,2,4,5,6,-,-,3,...,-,NaN,-,-,NaN,-,NaN,-,-,NaN
MON,5,10,2,4,-,3,-,1,-,6,...,-,NaN,-,-,NaN,-,NaN,-,-,NaN

In [358]:
top_10 = ['Fernando Alonso', 'Kimi RÃ¤ikkÃ¶nen', 'Michael Schumacher',
       'Juan Pablo Montoya', 'Giancarlo Fisichella', 'Ralf Schumacher',
       'Jarno Trulli', 'Rubens Barrichello', 'Jenson Button', 'Mark Webber']

In [359]:
pontuacao_10_primeiros = pd.DataFrame(pontuacao[top_10])
pontuacao_10_primeiros

,Fernando Alonso,Kimi RÃ¤ikkÃ¶nen,Michael Schumacher,Juan Pablo Montoya,Giancarlo Fisichella,Ralf Schumacher,Jarno Trulli,Rubens Barrichello,Jenson Button,Mark Webber
AUS,6,1,-,3,10,-,-,8,-,4
MAL,10,-,2,5,-,4,8,-,-,-
BHR,10,6,-,NaN,-,5,8,-,-,3
SMR,10,-,8,NaN,-,-,4,-,-,2
ESP,8,10,-,2,4,5,6,-,-,3
MON,5,10,2,4,-,3,-,1,-,6
EUR,10,-,4,2,3,-,1,6,-,-
CAN,-,10,8,-,-,3,-,6,-,4
USAâ€¡,-,-,10,-,-,-,-,8,-,-
FRA,10,8,6,-,3,2,4,-,5,-
GBR,8,6,3,10,5,1,-,2,4,-
GER,10,-,4,8,5,3,-,-,6,-
HUN,-,10,8,-,-,6,5,-,4,2
TUR,8,10,-,6,5,-,3,-,4,-
ITA,8,5,-,10,6,3,4,-,1,-
BEL,8,10,-,-,-,2,-,4,6,5
BRA,6,8,5,10,4,1,-,3,2,-
JPN,6,10,2,-,8,1,-,-,4,5
CHN,10,8,-,-,5,6,-,-,1,2
Points,133.00,112.00,62.00,60.00,58.00,45.00,43.00,38.00,37.00,36.00

In [371]:
pontuacao_10_primeiros['Fernando Alonso'].unique()

array(['6', '10', '8', '5', '-', '133.00'], dtype=object)

In [372]:
renomear = {'-': '0'}
pontuacao_10_primeiros = pontuacao_10_primeiros.replace(renomear)

In [373]:
pontuacao_10_primeiros.drop(pontuacao_10_primeiros.index[19], inplace=True)

In [374]:
pontuacao_10_primeiros.fillna('0', inplace=True)

In [377]:
pontuacao_10_primeiros = pontuacao_10_primeiros.astype(int)

In [378]:
print('___PosiÃ§Ã£o MÃ©dia de cada piloto:___')
for piloto in pontuacao_10_primeiros.columns:
    print(f'{piloto} -> {pontuacao_10_primeiros[piloto].mean():.2f}')

___PosiÃ§Ã£o MÃ©dia de cada piloto:___
Fernando Alonso -> 7.00
Kimi RÃ¤ikkÃ¶nen -> 5.89
Michael Schumacher -> 3.26
Juan Pablo Montoya -> 3.16
Giancarlo Fisichella -> 3.05
Ralf Schumacher -> 2.37
Jarno Trulli -> 2.26
Rubens Barrichello -> 2.00
Jenson Button -> 1.95
Mark Webber -> 1.89